/node_modules
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
proxy.php
/public/build
/public/hot
!/public/storage/
!/public/storage/**
/storage/*.key
/storage/app/*
!/storage/app/public/
/storage/app/public/*
!/storage/app/public/.gitignore
!/storage/app/public/menu-images/
!/storage/app/public/menu-images/**
!/storage/app/public/category-icons/
!/storage/app/public/category-icons/**
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/tests/TestCase.php
/tests/Feature/*
/tests/Unit/*
.idea/
.vscode/
.DS_Store
auth.json
.antigravityignore
*.zip
*.sql
*.bak
